*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/

.env
backend/.env
venv/
backend/venv/
chromadb_law_improved/
backend/chromadb_law_improved/

**/__pycache__/
**/*.pyc
app/build/
